{% extends 'SportsSiteBundle:Core:base.html.twig' %}

{% block title %} About | {{ parent() }} {% endblock %}

{# hide the search form #} 
{% block search_body %} {% endblock %}

{% block main_body %}

	<div class="page-header">
		<h1>
			About us	
		</h1>
	</div>
	
	<div class="row">
		<div class="span8">
		<p>
			The Sports Directory is your guide to Sports Clubs, Associations & events in Canada.
		</p>
		<p>
			It is an online directory of all kinds of sport clubs, associations and organizations across Canada.
			So far, we have covered Ontario region. As time progresses, we are expanding our
			database and covering other provinces as well. 
		</p>
		
		<p>
			For any feedback or suggestions, please feel free to <a href="{{ url('contact') }}" title="Contact">Contact us</a>. 
		</p>
		
		</div>
	</div>

 




{% endblock %}

