{% extends 'SportsSiteBundle:Core:base.html.twig' %}

{% block title %} Contact | {{ parent() }} {% endblock %}

{% block main_body %}

	<div class="page-header">
		<h1>
			Contact
			<small>Get in touch with us</small>
		</h1>
	</div>

    {% block status_body %}
		<div class="alert alert-{{ status.class }}">
			{{ status.message  }}	
		</div>
	 {% endblock %}


{% endblock %}	 