		<div class="row-fluid">	
		<form class="form-inline" method="get" action="{{ url('_welcome') }}">
			
			<div class="pull-left spacer-right-medium">
				<span class="help-block">Type of Sport ?</span>
				<input type="text" name="q" class="input-xlarge input-big" id="sports_type" 
					placeholder="ex: Archery or Tennis or Cricket etc." value="{{ q }}"
					data-provide="typeahead" data-items="10" autocomplete="off"
				 />
			</div>
			
			<div class="pull-left">
			<span class="help-block">Where ?</span>
			<input type="text" name="l" class="input-xlarge input-big" id="sport_location" 
				placeholder="ex: City, intersection, address etc." value="{{ l }}" autocomplete="off" 
			/>

			<button class="btn btn-large btn-primary" id="search_submit" type="submit">
				<i class="icon-search icon-white"></i> Find
			</button>
 			</div>
 			
 			<div class="clear"></div>
 						
		</form>
		</div>
			