	
	{% for spot in spots %}
	<div class="search-item">
		<div>
		<span class="label label" style="float: right;">
			{{ spot.distance }} {{ distance_unit }}
		</span>
		
		<h3>
			<a href="{{ path('spotDetails', { 'type' : spot.sport_path, 'path' : spot.path })  }}" title="{{ spot.title }}">
				{{ spot.title }}
			</a>
		</h3>		
		</div>
		<p>{{ spot.address }}, <br /> {{ spot.city }}, {{ spot.state_name }} {{ spot.postalCode }}  </p>
		<div class="search-item-info">
						
			<!--a class="btn btn-success">
				<i class="icon-heart icon-white"></i>
				{{ spot.likes }}
			</a -->
								
			<a class="btn" href="{{ path('spotDetails', { 'type' : spot.sport_path, 'path' : spot.path })  }}" title="{{ spot.title }}">
				<i class="icon-info-sign"></i>	
				More Info			
			</a>
			
		</div>
			
	</div>
	{% endfor %}