{% extends 'SportsSiteBundle:Core:base.html.twig' %}



{% block main_body %}

{% if error is defined %}

	<div class="alert alert-error text-center">
		<h3>{{ error }}</h3>
	</div>
	
{% else %}	
	<hr />

	<h3>Search Results for {{ q }}  near '{{ l }}'</h3>
	<div class="row">
		
		<div class="span6">
			<div class="search-items-wrapper">
				{% include 'SportsSiteBundle:Core:searchitem.html.twig' with 
					{ 'spots' : pagerfanta.currentPageResults } %}
			</div>				
		</div>
		
		<div class="span4">
			<div id="map_canvas">
			</div>		
		</div>		
	</div>
	
	<div>

	{{ pagerfanta(pagerfanta, 'twitter_bootstrap') }}    	
	</div>

{% endif %}

{% endblock %}


{% block javascripts_add %}

	{% include 'SportsSiteBundle:Core:form.js.twig' %}
	
{% if error is defined %}
	
{% else %}		
	{% include 'SportsSiteBundle:Core:mapEmbed.js.twig' 
		with { 'key' : maps_key, 'lat' : location.lat, 
			   'lon' : location.lon, 'title' : l } 
	%}
{% endif %}

{% endblock %}