{% extends 'SportsSiteBundle:Core:base.html.twig' %}

{% block title %} 
	{{ spot.title }} | {{ parent() }}	
{% endblock %}

{% block og_meta_title %}{{ spot.title }}{% endblock %}
{% block og_meta_url %}http://thesportsdirectory.ca{{ path('spotDetails', { 'type' : spot.sport.path, 'path' : spot.path })  }}{% endblock %}	


{% block main_body %}

{% if error is defined %}

	<div class="alert alert-error text-center">
		<h4>{{ error }}</h4>
	</div>

{% else %}
	<div class="spot-details-wrapper">
		
		<hr />
	
		<div class="span11 well">
			<div class="span6">
				<h1>{{ spot.title }}</h1>
				<p>{{ spot.address }} <br />
					{{ spot.city }}, {{ spot.state.name }}, {{ spot.postalCode }} 
				</p>
				<p>
					<span class="label label-inverse">					
						Phone: {{ spot.phone }}
					</span>					
				</p>
												
				<p class="info-wrapper">
					{{spot.title }} is located at {{spot.address }}, {{ spot.city }}, {{ spot.state.name }} {{ spot.postalCode}}
					{% if spot.phone is empty %}
					
					{% else %}
					 . They can be contacted at {{ spot.phone }}					
					{% endif %}
					
					{% if spot.url is empty %}
					
					{% else %}
						<h4>Website</h4>
						<a href="http://{{ spot.url }}" title="{{ spot.title }}" target="_blank" rel="external">
							{{ spot.url }}
						</a>
					{% endif %}					
				</p>								
				
{#				
				<h4> Achievements </h4>				
				<p class="info-wrapper"> 
					<span class="label label-success">					
						{{ spot.likes }} Likes
					</span>										
				</p>
#}																
				<h4> Activities </h4>				
				<p class="info-wrapper"> 
					<span class="label label-important">					
						{{ spot.sport.name }}
					</span>										
				</p>

{#								
				<p class="info-wrapper">
					<a class="btn btn-success">
						<i class="icon-heart icon-white"></i>
						Like it
					</a>
									
					<a class="btn btn-info">
						<i class="icon-edit icon-white"></i>
						Edit Description
					</a> 
				</p>
#}				
				
			</div>
			
			<div class="span4">
				
				<div id="map_canvas"></div>
						
			</div>		
		</div>
		
		<div class="clear"></div>
	</div>
	
	<div class="span11 well">
		<div id="fb-root"></div>
		<div class="span6">
			<h3>Share your Comments</h3>
			<div class="fb-comments" data-href="http://thesportsdirectory.ca{{ path('spotDetails', { 'type' : spot.sport.path, 'path' : spot.path })  }}" 
				data-num-posts="10" data-width="500"></div>
		</div>
		<div class="span4 ad-block">
			
		</div>
		
		<div class="clear"></div>
	</div>

{% endif %}	
{% endblock %}

{% block javascripts_add %}

{% if spot.map is defined %}						
	{% include 'SportsSiteBundle:Core:mapEmbed.js.twig' with
		{ 'key' : maps_key, 'title' : spot.title, 
		  'lat' : spot.lat, 'lon' : spot.lon } 
	%}
{% else %}

	{% include 'SportsSiteBundle:Core:mapEmbedError.js.twig' %}		
{% endif %}

<script type="text/javascript">
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}


